<!DOCTYPE html>
<html lang="br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayk Brito</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/6643122?s=460&v=4" alt="Maik Brito">
        <h1>Mayk Brito</h1>
        <h2>Instrututor - Rocketseat</h2>
        <p>Programador full-stak, focado em trazer o melhor ensino para iniciantes em programação. Colaborador da <a href="https://rocketseta.com.br" target="_blank"> Rocketseat</a></p>
    </div>

    <div id="links-footer" class="links">
        <a href="#" target="_blank">Github</a>
        <a href="#" target="_blank">Twitter</a>
        <a href="#" target="_blank">Linkedin</a>
    </div>

</body>

</html>